.form-section {
  background-color: #daa1eb;  
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}


.table-section {
  background-color: #f1d3ad;  
  padding: 15px;
  border-radius: 8px;
}